@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #f8fafc;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

@layer utilities {
  .section-container {
    @apply py-5 px-5 sm:py-12 sm:px-6 md:py-14 md:px-8 lg:py-16 lg:px-12 xl:py-20 xl:px-20  mx-auto;
  }
}
