@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Inter", serif;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
* {
  box-sizing: border-box;
}
@layer utilities {
  .section-container {
    @apply py-16 px-4 sm:py-12 sm:px-6 md:py-14 md:px-8 lg:py-16 lg:px-12 xl:py-20 xl:px-20  mx-auto;
  }
}
